---
import navBar from "../components/navBar.astro"
---

<html lang="en">
	<head>
		<link rel="stylesheet" href="src/stylesheet/style.css
		">
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/Engineering-Website/JackLogo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jack O'Neal | Engineering Portfolio</title>
	</head>
	<body>
		<navBar />
		<canvas id = "bg"></canvas>
		<main id = "h">
		  <header>
			<br>
			<h1>Jack O'Neal</h1>
			<p>🚀 Welcome to my website!</p>
		  </header>
		  
		  
		  <section>
			<br>
			<p> 
			  Scroll ⬇️ 
			</p>
			<br>
			
			<h2>About Me</h2>
			<p>
			  Hey, I’m Jack. Building and creating has always been my way of understanding how things work. Along the way, I’ve learned to use CAD for designing 3D models and PCBs, and I’ve developed programming skills in Python, HTML, Java, JavaScript, and C++. There’s always a new project on the horizon that pushes me to learn more.        
			</p>
	
			<p>I like to do a lot of sports, although my main sport is Mountain Biking I also do Snowboarding, Skimboarding, and Cross Country Running.</p>
			
			
		  </section>
		  
		  <section class="light" id="CAD">
			<h2>CAD</h2>
			<p>
			  In the CAD unit, I designed a skateboard using Onshape.
			
			<h2>The Deck</h2>
			<p>
			  I began by creating a fully constrained sketch for the deck using the center rectangle and circle tools. With the completed sketch, I extruded it to a 10 millimeter thickness to form the base of the skateboard. To connect the trucks later, I created bolt holes utilizing Onshape's hole tool. Initially, I considered adding the bolt holes through sketches, but I learned that Onshape's hole tool is simpler, especially for tolerance management. Finally, I applied fillets to the edges of the deck to achieve the rounded profile typical of skateboards.
			</p>
			
			<h2>The Trucks</h2>
			<p>
			  Designing the trucks was particularly interesting because it required working with parts that were initially suspended in air before connecting them with proper constraints. One key takeaway was understanding how to reuse sketches with the use tool, which allowed me to reference existing sketches without the need to recreate constraints. This made it much easier. I also assisted Yannick with troubleshooting a constraint issue—his sketch had incorrect references due to a misclick, which caused conflicting constraints. Fixing this required identifying the incorrect constraint and constraining it.
			</p>
			
			<h2>Wheels and Bearings</h2>
			<p>
			  For the wheels, I used the revolve tool to create the wheel. Once the wheel shape was complete, I incorporated the bearing by referencing key dimensions using the use tool, ensuring accurate fitment within the wheel assembly. Then I added materials to the wheel and bearing so that I can find the weight of the objects.
			</p>
			
			<h2>Assembly</h2>
			<p>
			  During the assembly process, I inserted bearings on both sides of each wheel to ensure smooth rotation. To streamline the assembly of repeated components, I used the replicate tool, which is particularly useful for repetitive tasks like adding bearings to each wheel or attaching wheels to the trucks. The replicate tool saved me time, making it way faster than manually going through every assembly step for identical components.
			</p>
		</section>
		
		<script type="module" src="src/js/index.js"></script>
		
		  
	
	  </body>
</html>
